
/* Your CSS Code here. */

.container{
	display: flex;
    justify-content: space-between;
}
#box{
	padding:20px;
	color:black;
}
.b3{
	background-color:green;
}
.b1{
	background-color:red;
}
.b2{
	background-color:blue;
}